@model CreditRiskAnalysisApp.Models.Company

<h2>Create New Company</h2>


<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" autocomplete="off" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UEN"></label>
        <input asp-for="UEN" autocomplete="off" class="form-control" />
        <span asp-validation-for="UEN" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-1">Create</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Back to List of Companies</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
